::-webkit-scrollbar {
    width: 0.55rem;
    height: 0.25rem;
    background-image: linear-gradient(135deg, #f4f4f4 0%, rgb(214, 214, 214) 72%, rgba(226, 226, 226) 100%);
}
::-webkit-scrollbar-track {
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-image: linear-gradient(135deg, #cdcdcd 0%, #bdbdbd 72%, #e6e6e6 100%);
    transition: all .2s;
    border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(214, 214, 214);
}
.el-form-item__label{ /*修改密码列表输入框前面文字样式*/
    color: rgba(0,0,0,0.7);
    font-weight: normal;
}
.el-menu-item,
.el-submenu__title { /*左侧边菜单栏 li 行高*/
    height: 38px;
    line-height: 38px;
    position: relative;
}
.el-scrollbar__wrap {
    overflow-x: hidden;
}
.btn-inner{ /*侧边栏折叠按钮*/
    border: none;
    outline: none;
    color: #fdf3ff;
    padding: 0;
    background-color: rgba(255,255,255,0.15);
    position:absolute;
    right: 0;
    top: 50%;
    margin-top: -325px;
    width: 16px;
    height: 650px;
    z-index: 9;

}

.el-menu {/*取消左侧菜单栏右边框*/
     border-right: 0;
}
.Sidebar{/*左侧边栏背景及高度*/
    /*overflow-y: scroll;*/
    display: inline-block;
    position: relative;
    height: 100%;
    background-color: rgb(17, 46, 100);
}
.el-menu-item:hover {/*鼠标经过左侧边栏各个选项时的背景颜色*/
    background-color: rgba(255, 255, 255, 0.091) !important;

}
.el-submenu__title:hover {/*鼠标经过左侧边栏标题项时的背景颜色*/
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.el-breadcrumb__inner:hover{
    color: #575757 !important;
    font-weight: bold;

}
.el-breadcrumb__inner{
    color: #7e7e7e !important;

}
.el-divider--vertical{
    margin-left: 30px;
    height: 100px;
}
.el-tabs__nav {
    margin-left: 65px;
}
